@import"cardcss.css";
/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/


/* ---- Base Rules ---- */
html{
    width: 98.5%;
    margin: 0;
    padding: 0;
}
body {
    background: rgb(14, 17, 15);
    background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
    color: #fff;
    width: auto;
}
.pageheader{
    background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
    margin: 0;
    padding: 0%;
    width: 101%;
}
.navbar {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(50deg, hsl(0, 0%, 4%), hsl(118, 59%, 79%));
    z-index: 100;
    transition: top 0.3s;

}
.sticky {
    position: fixed;
   top: 0;
   left: 0;
   right: 0;
   width: 100%;
  }
  .sticky + .content {
    padding-top: 60px;
  }
.logo {

    width: 35%;
}
.logo img{
    width:60%;
}
#section1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/Headerimg.jpg);
    margin-top: -75px;
    background-size: cover;
    position: relative;
    display: flex;

}
#section1 h3{
    color: gold;
}

#section5{
    margin-top: 200px;
    display: flex;
    height: 70vh;
    width: 100%;
}
/* Typeography General*/
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: rgb(75, 241, 53);
}

@media only screen and (min-width: 35em){
    h1 {
        font-size: 7em;
        margin: 2em 4rem 1em;
    }

    
}

h2 {
    border-bottom: 1px solid #cc1;
    font-family: 'Oxygen', Sans-Serif;
    font-size: 3em;
    color: #fff;
}

p {
    line-height: 1.6em;
    color: #eee;
}

/* ---- Layout Rules ---- */
main {
    margin: 10vh 1em 10vh;
    width: 100%;
}

section {
    position: relative;
    min-height: 80vh;
}


/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    text-align: right;
    align-items: center;
    justify-content: center;
}

.navbar__menu li {
    display: inline-block;
    position: relative;
}

.navbar__menu .menu__link {
    display: block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    box-shadow: 0px 0px 10px 5px rgba(63, 253, 110, 0.253);
}


/* Footer Styles */
.page__footer {
    background: rgb(32, 65, 1);
    background: linear-gradient(0deg, rgb(37, 66, 3) 0%, rgb(29, 122, 48) 100%);
    padding: 3em;
    color: rgb(177, 250, 7);
    height:fit-content;
    margin: auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: nowrap;
    width: 95%;
}
.row{
    align-items: flex-start;
    display: flex;
   justify-content: flex-start;
    margin-top: 10%;
}
.page__footer p{
    color: rgb(2, 2, 2);
}
#top{
    position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background: linear-gradient(0deg, rgb(37, 66, 3) 0%, rgb(56, 226, 90) 100%);
  color: rgb(10, 6, 6); 
  cursor: pointer;
  padding: 15px; 
  border-radius: 10px; 
  font-size: 18px;
  animation-name: box-ping;
  animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out; 
    transition: ease 0.5s;
}

@keyframes box-ping {

    25% { transform: translateY( -10px);
    }
    100% { transform: translateY(10px);
    }
}

#top:hover {
    background: linear-gradient(0deg, rgb(110, 241, 116) 0%, rgb(224, 236, 227) 100%);
  }


/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
    padding: 1em;
    text-align: left;
}

@media only screen and (min-width: 35em){
    .landing__container {
        max-width: 50em;
        padding: 4em;
    }
}

section:nth-of-type(even) .landing__container {
    margin-right: 0;
    margin-left: auto;
    text-align: right; 
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
    content: '';
    background: rgba(228, 24, 24, 0.187);
    position: absolute;
    z-index: -5;
    width: 20vh;
    height: 20vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
    content: '';
    background: rgb(230, 69, 20);
    background: linear-gradient(0deg, rgba(231, 36, 156, 0.1) 0%, rgba(235, 7, 147, 0.2) 100%);
    position: absolute;
    top: 3em;
    right: 3em;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -5;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}

section:nth-of-type(3n + 1) .landing__container::after {
    content: '';
    background: rgb(240, 12, 171);
    background: linear-gradient(0deg, rgba(255,255,255,.1) 0%, rgba(255,255,255,.2) 100%);
    position: absolute;
    right: 20vw;
    bottom: -5em;
    z-index: -5;
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
    opacity: 0;
    transition: ease 0.5s all;
}


/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgb(56, 112, 50) 60%, rgb(12, 61, 23) 100%);
}

section.your-active-class .landing__container::before {
    opacity: 1;
    animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
    opacity: 1;
    animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
	from {
		transform: rotate(0deg)
		           translate(-1em)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-1em) 
		           rotate(-360deg);
	}
}
@media screen and (max-width: 768px){
    html{
        width: 98.5%;
        margin: 0;
        padding: 0;
    }
    body {
        background: rgb(14, 17, 15);
        background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
        margin: 5px;
        padding: 0;
        font-family: 'Merriweather', serif;
        color: #fff;
        width: fit-content;
    }
    .pageheader{
        background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
        margin: 0;
        padding: 0;
        width: 110%;
    }
    .navbar {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(50deg, hsl(0, 0%, 4%), hsl(118, 59%, 79%));
        z-index: 100;
        transition: top 0.3s;
    
    }
    .sticky {
        position: fixed;
       top: 0;
       left: 0;
       right: 0;
       width: 100%;
      }
      .sticky + .content {
        padding-top: 60px;
      }
    .logo {
    
        width: 35%;
    }
    .logo img{
        width:90%;
    }

    
.page__footer {
    background: rgb(32, 65, 1);
    background: linear-gradient(0deg, rgb(37, 66, 3) 0%, rgb(29, 122, 48) 100%);
    padding: auto;
    color: rgb(177, 250, 7);
    height:fit-content;
    width: 96%;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}
.row{
    align-items: flex-start;
    display: flex;
   justify-content: flex-start;
    margin-top: 10%;
}
.page__footer p{
    color: rgb(2, 2, 2);
}


.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.navbar__menu li {
    display: inline-block;
}


.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}
#section1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/Headerimg.jpg);
    margin-top: -60px;
    width: 108%;
    background-size: cover;
    padding: auto;
}
#section5{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 300px;
    display: flex;
    height: 50vh;
    width: 100%;
    padding: auto;
    justify-items: center;

}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: rgb(75, 241, 53);
}
.landing__container {
    max-width: 50em;
    padding: 4em;
}
section {
    position: relative;
    min-height: 80vh;
    display: flex;
}
}

@media(min-width:769px) and (max-width:1100px){
    html{
        width: 91%;
        margin: 0;
        padding: 0;
    }
    body {
        background: rgb(14, 17, 15);
        background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
        margin: 5px;
        padding: 0;
        font-family: 'Merriweather', serif;
        color: #fff;
        width: auto;
    }
    .pageheader{
        background: linear-gradient(0deg, rgb(4, 68, 7) 0%, rgb(12, 17, 13) 100%);
        margin: 0;
        padding: 0;
        width: 110%;
    }
    .navbar {
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(50deg, hsl(0, 0%, 4%), hsl(118, 59%, 79%));
        z-index: 100;
        transition: top 0.3s;
    
    }
    .sticky {
        position: fixed;
       top: 0;
       left: 0;
       right: 0;
       width: 100%;
      }
      .sticky + .content {
        padding-top: 60px;
      }
    .logo {
    
        width: 35%;
    }
    .logo img{
        width:90%;
    }

    
.page__footer {
    background: rgb(32, 65, 1);
    background: linear-gradient(0deg, rgb(37, 66, 3) 0%, rgb(29, 122, 48) 100%);
    padding: auto;
    color: rgb(177, 250, 7);
    height:fit-content;
    width: 100%;
    margin-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
}
.row{
    align-items: flex-start;
    display: flex;
   justify-content: flex-start;
    margin-top: 10%;
}
.page__footer p{
    color: rgb(2, 2, 2);
}

.navbar__menu ul {
    padding-left: 0;
    margin: 0;
    text-align: center;
}

.navbar__menu li {
    display: inline-block;
}


.navbar__menu .menu__link {
    display: inline-block;
    padding: 1em;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.navbar__menu .menu__link:hover {
    background: #333;
    color: #fff;
    transition: ease 0.3s all;
}
#section1{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../pictures/Headerimg.jpg);
    margin-top: -58px;
    width: 108%;
    background-size: cover;
    padding: 0;
}
#section5{
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 300px;
    display: flex;
    height: 50vh;
    width: 100%;
    padding: auto;
    justify-items: center;

}
h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    margin: 2em 1rem;
    color: rgb(75, 241, 53);
}
.landing__container {
    max-width: 50em;
    padding: 4em;
}
section {
    position: relative;
    min-height: 80vh;
    display: flex;
}
}
